@import '../../GlobalScss.scss';
ine
$color10: #9933cc;//


.Custom{
    width: 245px;
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.657);
    display: flex;
    margin: 2rem 30rem;
    flex-direction: column;
    .custom-controller{
        width: 100%;
        display: flex;
        flex-direction: column;
        .box{
            display: flex;
            width: 100%;
            flex-direction: column;
            .profilo{
                padding: 0.7rem 1.52rem;
                width: 100%;

                display: flex;
                align-items: center;
                .icon{
                    i{
                        font-size: 1.55rem;
                    }
                }
                .text{
                    margin-left: 1rem;
                    font-size: 1.7rem;
                    text-transform: capitalize;
                    font-family: $Roboto400-900;
                }
            }
            .profilo:hover{
                cursor: pointer;
                background-color: rgb(243, 239, 239);
            }
        }
        .box2{
            border-top: 2px solid rgb(245, 244, 244);
            padding-top: 1rem;
            padding-left: 1.52rem;
            display: flex;
            align-items: center;
            font-size: 1.75rem;
            padding-bottom: 0.6rem;
            font-family: $Roboto400-900;
            .logout{
                cursor: pointer;
            }
        }
        .box2:hover{
            cursor: pointer;
            background-color: rgb(243, 239, 239);

        }
    }
}
.Post{
    width: 245px;
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.657);
    display: flex;
    margin: 2rem 30rem;
    flex-direction: column;
    .Post-controller{
        width: 100%;
        display: flex;
        flex-direction: column;
        .box{
            display: flex;
            width: 100%;
            flex-direction: column;
            .profilo{
                padding: 1rem 1.52rem;
                width: 100%;

                display: flex;
                align-items: center;
                .icon{
                    i{
                        font-size: 1.55rem;
                    }
                }
                .text{
                    margin-left: 1rem;
                    font-size: 1.7rem;
                    text-transform: capitalize;
                    font-family: $Roboto400-900;
                }
            }
            .profilo:hover{
                cursor: pointer;
                background-color: rgb(243, 239, 239);
                color: red;
            }
        }
        .box2{
            border-top: 2px solid rgb(245, 244, 244);
            padding-top: 1rem;
            padding-left: 1.52rem;
            display: flex;
            align-items: center;
            font-size: 1.75rem;
            padding-bottom: 0.6rem;
            font-family: $Roboto400-900;
            .logout{
                cursor: pointer;
            }
        }
        .box2:hover{
            cursor: pointer;
            background-color: rgb(243, 239, 239);

        }
    }
}
// CODE CREATED BY ARYAN
//       github  https://github.com/itsmeAryan
//       website https://my-social-apps.herokuapp.com/
//       youtube https://www.youtube.com/channel/UCBKbLITqJc7C-vx-xwUILmg
//       email   spidy12k@gmail.com
//       FOLLOW ME GUYS......
// ITS ME ARYAN