.Loader{
    width: 100%;
    display: flex;
    // border: 2px solid orange;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 111111;
    position: fixed;
        background-color: transparent;
        mix-blend-mode: multiply;
        top: 0;
    img{
        mix-blend-mode: multiply;
        background-color: transparent;
    }
}
// CODE CREATED BY ARYAN
//       github  https://github.com/itsmeAryan
//       website https://my-social-apps.herokuapp.com/
//       youtube https://www.youtube.com/channel/UCBKbLITqJc7C-vx-xwUILmg
//       email   spidy12k@gmail.com
//       FOLLOW ME GUYS......
// ITS ME ARYAN