@import '../../GlobalScss.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Loading{
    display: flex;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1111; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    transition: all 1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    .laodings{
        align-self: flex-start;
        height:100px;
        margin: auto;
        display: flex;
        img{
            width: 100%;
            opacity: 0.9;
            mix-blend-mode: multiply;
        }
    }
}
.Registration{
    display: flex;
    width: 100%;
    flex-direction: column;
   
    .error_occur{

 width: 100%;
 h1{
     padding: 0.51rem;
     text-align: center;
     font-family: $mont400-900;
     background-color: $color2;
     color: #fff;
     font-size: 2rem;
 }
    }
    .Registration-controller{
        width: 100%;
        display: flex;
        .Registration-row{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .Registration-left{
                width: 40%;
                display: flex;
                .Left-parent{
                    width: 100%;
                    display: flex;
                    .Form-img{
                        display: flex;
                        width: 100%;
                        img{
                            width: 96%;
                            object-fit: cover;
                        }
                    }
                }
            }
            .Registration-Right{
                display: flex;
                width: 50%;
                .Meter{
                    display: flex;
                    width: 100%;
                    .Right-Parent{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        padding: 1rem 3rem;
                        padding-right: 0;
                        .Parent-title{
                            width: 100%;
                            font-family: $Roboto400-900;
                            margin: 2rem 0;
                            margin-top: 0;
                            font-weight: 600;
                            .text{
                                padding-left: 2rem;
                                font-size: 3rem;
                            }
                        }
                        .Parent-form{
                            padding-left: 1rem;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            .Name-form.Parent-child{
                                width: 370px;
                                border: 2px solid rgb(14, 13, 13);
                                display: flex;
                                border-radius: 0.5rem;
                                margin: 1rem;
                                justify-content: space-between;
                                .Name-icon{
                                    width: 8%;
                                    z-index: 111;
                                border-radius: 0.5rem;
                                display: flex;margin-left: 0.5rem;
                                    align-items: center;
                                    justify-content: center;
                                    i{
                                        font-size: 2.7rem;
                                    }

                                }
                                .Name-input{
                                    width: 92%;
                                    display: flex;
                                    position: relative;
                                    input[type="text"],
                                    input[type="email"],
                                    input[type="password"],
                                    input[type="file"]{
                                        width: 100%;
                                border-radius: 0.5rem;
                                padding: 2rem;
                                        border: none;
                                        outline: none;
                                        padding-left: 1rem;
                                        text-transform: capitalize;
                                        font-size: 1.6rem;
                                        font-family: $Roboto400-900;
                                    }
                                }
                            }
                        }
                        .Check-form{
                            padding-left: 1rem;
                            box-sizing: border-box;
                            display: flex;
                            margin: 1rem 0;
                            width: 100%;
                            .Check-me{
                                padding-left: 1.2rem;
                                width: 200px;
                                box-sizing: border-box;
                                display: flex;
                                align-items: center;
                                input[type="checkbox"]{
                                    transform: scale(1.25);
                                }
                                .text{
                                    color: $text-color;
                                    font-family: $Roboto400-900;
                                    padding-left: 0.5rem;
                                    font-size: 1.5rem;
                                }
                            }
                            .forget-pass{
                                width: 300px;
                                font-family: $Roboto400-900;
                                align-items: center;
                                a{
                                    text-decoration: none;
                                    color: $text-color;
                                    font-size: 1.6rem;
                                    font-family: $Roboto400-900;
                                }
                            }
                        }
                        .Submit-form{
                            display: flex;
                            width: 100%;
                            padding-left: 1rem;
                            .submitTo-click{
                                margin-left: 1rem;
                                border-radius: 0.5rem;
                                width: 373px;
                                padding: 1.8rem;
                                text-align: center;
                                background-color: #111;
                                font-size: 1.9rem;
                                color: #fff;
                                font-family: $mont400-900;
                                font-weight: 600;
                                cursor: pointer;
                            }
                            .submitTo-click:hover{
                                opacity: 0.9;
                            }
                        }
                        .not-user{
                            width: 100%;
                            display: flex;
                            margin: 1rem 0;
                            margin-bottom: 0;
                            padding-left: 1rem;
                            .striver{
                                margin-left: 1.2rem;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                .text{
                                    font-family: $Roboto400-900;
                                    font-size: 1.6rem;
                                    font-weight: 400;
                                    color: $text-color;
                                }
                                .lol-text{
                                    margin-left: 0.6rem;
                                    a{
                                        font-family: $Roboto400-900;
                                        font-size: 1.6rem;
                                        font-weight: 400;
                                        text-transform: capitalize;
                                        text-decoration: none;
                                        color:#1458ff;
                                    }
                                }
                            }
                        }
                       
                    }
                }
            }
        }
    }
}
@media screen and (max-width:988px){
    .Registration{
        .Registration-controller{
            .Registration-row{
                .Registration-left{
                    display: none;
                }
                .Registration-Right{
                    width: 100%;
                    .Meter{

                        justify-content: center;
                        .Right-Parent{
padding-right: 0;
padding-left: 0;
                            justify-content: center;
                            .Parent-title{

                                display: flex;
                                justify-content: center;

                            }
                            .Parent-form{
                                justify-content: center;

                                align-items: center;
                            }
                            .Check-form{
                                justify-content: center;

                                .Check-me{
                                    margin-left: 0;
                                    width: 50%;
                                    justify-content: flex-end;
                                }
                                .forget-pass{
                                    width: 50%;
                                    padding-left: 0.5rem;
                                }
                            }
                            
                            .Submit-form{
                                justify-content: center;

                            }
                            .not-user{
                                justify-content: center;

                                .striver{
                                    justify-content: center;
                                }
                            }
                        

                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:428px){
    .Registration{
        .Registration-controller{
            .Registration-row{
                
                .Registration-Right{
                    .Meter{
                    padding: 1rem;
                    border: 1px solid rgb(90, 92, 90);
                        justify-content: center;
                        .Right-Parent{
          justify-content: center;
                            .Parent-title{
                                .text{
                                    width: 100%;
                                    padding-left: 0;
                                    text-align: center;
                                }

                            }
                            .Parent-form{
                               padding-left: 0;
                               .Name-form.Parent-child{
                                   width: 100%;
                                   border-radius: 0;
                                   margin-left: 0;
                                   margin-right: 0;
                               }
                            }
                            .Check-form{
                                justify-content: center;
                    padding-left: 0;
                                .Check-me{
                                    margin-left: 0;
                                    justify-content: flex-start;
                                }
                                .forget-pass{
                                    width: 65%;
                                    font-size: 1.2rem;
                                }
                            }
                            
                            .Submit-form{
                                justify-content: center;
                                padding-left: 0;
                                .submitTo-click{
                                    margin-left: 0;
                                    width: 100%;
                                }

                            }
                            .not-user{
                                justify-content: center;
                                padding-left: 0;

                                .striver{
                                    justify-content: center;
                                    margin-left: 0;
                                    width: 100%;

                                }
                            }
                           

                        }
                    }
                }
            }
        }
    }
}
// CODE CREATED BY ARYAN
//       github  https://github.com/itsmeAryan
//       website https://my-social-apps.herokuapp.com/
//       youtube https://www.youtube.com/channel/UCBKbLITqJc7C-vx-xwUILmg
//       email   spidy12k@gmail.com
//       FOLLOW ME GUYS......
// ITS ME ARYAN